#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#form {
  color: aliceblue;
  background: transparent;
  backdrop-filter: blur(70px);
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  width: 500px;
  height: 500px;
  margin: auto;
  padding: 20px;
  display: flex;
  justify-content: center; 
  flex-direction: column;
}

#form button {
  margin-top: 20px;
}

.mb-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px;
}

body {
  background-image: url('sol.gif');
  background-position: center;
  background-size: cover;
  transition: 2S;
}